body
{
    background-color: midnightblue;
    color: white;
}

p
{
    font-size: 16px;
}

a
{
    color: azure;
    font-size: 20px;
    font-style: italic;
}

img
{
    width: 300px;
}