body
{
    background-color: lightgray;
    font-size: 20px;
}

label
{
    font-size: 20px;
}

input
{
    font-size: 20px;
}

option
{
    font-size: 20px;
}

#male
{
    color: blue;
}

#female
{
    color: blueviolet;
}

textarea
{
    font-size: 16px;
}

a
{
    color: black;
    font-style: italic;
}

img
{
    width: 1000px;
    position: absolute;
    left: 800px;
    top: 100px;
}
